In [1]:
#standard imports
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import seaborn as sns
import csv
import warnings
warnings.filterwarnings ('ignore')

In [2]:
data=pd.read_csv("water_potability.csv")
data.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [4]:
print(data.isnull().sum())

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

In [5]:
data = data.dropna()
data.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
5,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708,0
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989,0
7,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2011 entries, 3 to 3271
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2011 non-null   float64
 1   Hardness         2011 non-null   float64
 2   Solids           2011 non-null   float64
 3   Chloramines      2011 non-null   float64
 4   Sulfate          2011 non-null   float64
 5   Conductivity     2011 non-null   float64
 6   Organic_carbon   2011 non-null   float64
 7   Trihalomethanes  2011 non-null   float64
 8   Turbidity        2011 non-null   float64
 9   Potability       2011 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 172.8 KB

In [7]:
#create x (all the feature columns)
x=data.drop ("Potability" ,axis=1)

#create y (the target column)
y=data["Potability"]

In [8]:
x.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075
5,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989
7,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
minmax_scaler = MinMaxScaler()
data['ph'] = minmax_scaler.fit_transform(data[['ph']])
data['Hardness'] = minmax_scaler.fit_transform(data[['Hardness']])
data['Solids'] = minmax_scaler.fit_transform(data[['Solids']])
data['Chloramines'] = minmax_scaler.fit_transform(data[['Chloramines']])
data['Sulfate'] = minmax_scaler.fit_transform(data[['Sulfate']])
data['Conductivity'] = minmax_scaler.fit_transform(data[['Conductivity']])
data['Organic_carbon'] = minmax_scaler.fit_transform(data[['Organic_carbon']])
data['Trihalomethanes'] = minmax_scaler.fit_transform(data[['Trihalomethanes']])
data['Turbidity'] = minmax_scaler.fit_transform(data[['Turbidity']])

In [11]:
data.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
3,0.587349,0.577747,0.386298,0.568199,0.647347,0.292985,0.654522,0.795029,0.630115,0
4,0.643654,0.441300,0.314381,0.439304,0.514545,0.356685,0.377248,0.202914,0.520358,0
5,0.388934,0.470876,0.506122,0.524364,0.561537,0.142913,0.249922,0.401487,0.219973,0
6,0.725820,0.715942,0.506141,0.521683,0.751819,0.148683,0.467200,0.658678,0.242428,0
7,0.610517,0.532588,0.237701,0.270288,0.495155,0.494792,0.409721,0.469762,0.585049,0

In [24]:
#split data into training and test sets
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x, y,test_size=0.2 , random_state=1, stratify=y)

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((1608, 9), (403, 9), (1608,), (403,))

In [25]:
y_test.value_counts()

0    240
1    163
Name: Potability, dtype: int64

In [26]:
x_train.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
1895,8.053044,211.783235,37086.546054,8.267537,251.443500,512.899036,19.166620,73.248984,3.301575
2326,6.933654,217.770316,19026.017329,3.117441,317.066842,448.234640,12.943634,76.824752,2.010729
1993,7.657542,230.820008,35056.232234,7.656807,364.130141,305.629409,18.481396,72.205075,4.792527
2864,9.001823,263.514188,15379.912763,6.473674,355.006426,561.687003,22.045457,61.514342,3.976873
2684,4.835298,136.295037,23031.215807,5.560179,358.933089,567.463670,11.505803,60.773857,3.633761

In [27]:
#we will use a Random Forest
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

In [28]:
#we'll hyperparameters as default first
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [29]:
clf.fit(x_train, y_train)

RandomForestClassifier()

In [30]:
# In order to predict a label, data has to be in the same shape as X_train
x_test.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
2416,7.542300,230.150540,18877.493895,4.344707,278.250436,447.259353,17.555578,53.341682,4.317554
466,7.539882,185.825975,21575.245221,7.442999,333.079630,444.116633,15.830565,49.067977,4.531594
1724,7.595229,188.373282,32869.474408,6.745588,365.208692,326.627131,13.883329,73.438220,3.497604
349,8.065339,174.120584,21366.283598,7.490944,315.180405,497.019234,11.417019,46.213198,3.756392
504,5.386307,212.592991,40149.316557,8.124232,318.791667,355.546420,17.348802,64.210905,3.662563

In [31]:
y_preds = clf.predict(x_test)
print(y_preds)

[1 0 1 0 0 1 0 0 1 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1
 0 0 1 0 1 1 1 0 0 0 0 0 1 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 1 0 0 1 0 1 1 1
 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0
 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 1 0 0 0 0 1
 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0
 1 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 1 1 0 0 1 1 0 0 0 1
 0 1 1 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 1 0 0 0 1 0 1 0 0 1 1 0 0 1 1 0 0 0
 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 0 0 1 0 0 0 1 1 0 0 0
 0 0 0 1 0 1 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1]

In [32]:
# Evaluate the model on the training set
clf.score(x_train, y_train)

1.0

In [33]:
# Evaluate the model on the test set
clf.score(x_test, y_test)

0.6277915632754343

In [34]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.65      0.82      0.72       240
           1       0.57      0.34      0.43       163

    accuracy                           0.63       403
   macro avg       0.61      0.58      0.58       403
weighted avg       0.61      0.63      0.60       403

In [35]:
conf_mat = confusion_matrix(y_test, y_preds)
conf_mat

array([[197,  43],
       [107,  56]], dtype=int64)

In [36]:
np.random.seed(42)
highest_score = 0
best_est = 0
for i in range(10, 201, 10):
    print(f"Trying model with {i} estimators...")
    model = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    score = model.score(x_test, y_test) * 100
    if score > highest_score:
        highest_score = score
        best_est = i
    print(f"Model accuracy on test set: { score}%")
    print("")
    
print(f"High Score: {highest_score}, Estimators: {best_est}")

Trying model with 10 estimators...
Model accuracy on test set: 65.2605459057072%

Trying model with 20 estimators...
Model accuracy on test set: 64.76426799007444%

Trying model with 30 estimators...
Model accuracy on test set: 63.27543424317618%

Trying model with 40 estimators...
Model accuracy on test set: 62.779156327543426%

Trying model with 50 estimators...
Model accuracy on test set: 63.27543424317618%

Trying model with 60 estimators...
Model accuracy on test set: 64.01985111662532%

Trying model with 70 estimators...
Model accuracy on test set: 65.01240694789082%

Trying model with 80 estimators...
Model accuracy on test set: 65.75682382133995%

Trying model with 90 estimators...
Model accuracy on test set: 65.75682382133995%

Trying model with 100 estimators...
Model accuracy on test set: 63.52357320099256%

Trying model with 110 estimators...
Model accuracy on test set: 64.76426799007444%

Trying model with 120 estimators...
Model accuracy on test set: 65.50868486352357%

Trying model with 130 estimators...
Model accuracy on test set: 65.01240694789082%

Trying model with 140 estimators...
Model accuracy on test set: 66.00496277915633%

Trying model with 150 estimators...
Model accuracy on test set: 64.51612903225806%

Trying model with 160 estimators...
Model accuracy on test set: 64.76426799007444%

Trying model with 170 estimators...
Model accuracy on test set: 66.25310173697271%

Trying model with 180 estimators...
Model accuracy on test set: 65.2605459057072%

Trying model with 190 estimators...
Model accuracy on test set: 66.50124069478908%

Trying model with 200 estimators...
Model accuracy on test set: 64.51612903225806%

High Score: 66.50124069478908, Estimators: 190

In [27]:
from sklearn.model_selection import cross_val_score

# With cross-validation
np.random.seed(42)
for i in range(10, 151, 10):
    print(f"Trying model with {i} estimators...")
    model = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {model.score(x_test, y_test) * 100}%")
    print(f"Cross-validation score: {np.mean(cross_val_score(model, x, y, cv=5)) * 100}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 64.51612903225806%
Cross-validation score: 59.871856597903786%

Trying model with 20 estimators...
Model accuracy on test set: 65.50868486352357%
Cross-validation score: 63.00556769502364%

Trying model with 30 estimators...
Model accuracy on test set: 65.50868486352357%
Cross-validation score: 61.91165759292866%

Trying model with 40 estimators...
Model accuracy on test set: 66.99751861042184%
Cross-validation score: 63.303704801056746%

Trying model with 50 estimators...
Model accuracy on test set: 67.74193548387096%
Cross-validation score: 63.50258632396331%

Trying model with 60 estimators...
Model accuracy on test set: 67.24565756823822%
Cross-validation score: 63.60344678592151%

Trying model with 70 estimators...
Model accuracy on test set: 67.24565756823822%
Cross-validation score: 64.74562670518375%

Trying model with 80 estimators...
Model accuracy on test set: 66.74937965260546%
Cross-validation score: 64.34983889485575%

Trying model with 90 estimators...
Model accuracy on test set: 66.99751861042184%
Cross-validation score: 63.70146784686986%

Trying model with 100 estimators...
Model accuracy on test set: 68.23821339950372%
Cross-validation score: 65.19351135143143%

Trying model with 110 estimators...
Model accuracy on test set: 67.99007444168734%
Cross-validation score: 64.39847906867648%

Trying model with 120 estimators...
Model accuracy on test set: 67.74193548387096%
Cross-validation score: 64.5479797044554%

Trying model with 130 estimators...
Model accuracy on test set: 69.23076923076923%
Cross-validation score: 65.19388170808489%

Trying model with 140 estimators...
Model accuracy on test set: 69.23076923076923%
Cross-validation score: 64.14947594533535%

Trying model with 150 estimators...
Model accuracy on test set: 68.73449131513648%
Cross-validation score: 65.09474957717616%

In [37]:
np.random.seed(42)
from sklearn.model_selection import GridSearchCV

# Define the parameters to search over
param_grid = {'n_estimators': [i for i in range(10, 101, 10)], 'max_depth': [0,5,10]}

# Setup the grid search
grid = GridSearchCV(RandomForestClassifier(),
                    param_grid,
                    cv=5,
                    scoring='recall'
                   )

# Fit the grid search to the data
grid.fit(x, y)

# Find the best parameters
grid.best_params_

{'max_depth': 10, 'n_estimators': 60}

In [38]:
# Set the model to be the best estimator
clf = grid.best_estimator_
clf

RandomForestClassifier(max_depth=10, n_estimators=60)

In [39]:
# Fit the best model
clf = clf.fit(x_train, y_train)

In [40]:
# Find the best model scores
clf.score(x_test, y_test)

0.6327543424317618

In [41]:
import pickle

# Save an existing model to file
pickle.dump(model, open("myModel.pkl", "wb"))

In [42]:
# Load a saved model and make a prediction
loaded_model = pickle.load(open("myModel.pkl", "rb"))
y_test_pred = loaded_model.predict(x_test)
y_test_pred

array([0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1], dtype=int64)

In [43]:
import joblib
filename='model_2'
joblib.dump(model, filename)

['model_2']

In [44]:
mymodel = joblib.load(filename)

In [45]:
mymodel.score(x_test, y_test)

0.6451612903225806